.color-black {
  color: #08020d;
}

.bg-black {
  border-color: #08020d;
  background-color: #08020d;
}

.color-gray {
  color: #e0e0e0;
}

.bg-gray {
  border-color: #e0e0e0;
  background-color: #e0e0e0;
}

.color-dark-gray {
  color: #cacaca;
}

.bg-dark-gray {
  border-color: #cacaca;
  background-color: #cacaca;
}

.color-dark {
  color: #3c3b3d;
}

.bg-dark {
  border-color: #3c3b3d;
  background-color: #3c3b3d;
}

.color-green {
  color: #34c176;
}

.bg-green {
  border-color: #34c176;
  background-color: #34c176;
}

.color-orange {
  color: #f89202;
}

.bg-orange {
  border-color: #f89202;
  background-color: #f89202;
}

.color-purple {
  color: #5328a1;
}

.bg-purple {
  border-color: #5328a1;
  background-color: #5328a1;
}

.color-red {
  color: #95390c;
}

.bg-red {
  border-color: #95390c;
  background-color: #95390c;
}

.color-white {
  color: white;
}

.bg-white {
  border-color: white;
  background-color: white;
}

.color-transparent {
  color: transparent;
}

.bg-transparent {
  border-color: transparent;
  background-color: transparent;
}

@font-face {
  font-weight: normal;
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-weight: bold;
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-size: inherit;
  font-family: "Roboto", sans-serif;
  line-height: 150%;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}
@media (max-width: 1239px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 38px;
}
@media (max-width: 1239px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-size: 24px;
  font-weight: normal;
}
@media (max-width: 1239px) {
  h3 {
    font-size: 16px;
  }
}

h4 {
  font-size: 18px;
}
@media (max-width: 1239px) {
  h4 {
    font-size: 18px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

input, button {
  color: inherit;
}

section, footer, header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}
@media (max-width: 1239px) {
  .container {
    width: calc(100% - 40px);
    margin-right: 20px;
    margin-left: 20px;
  }
}

.btn {
  text-transform: capitalize;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

hr {
  width: 100%;
}

h3 {
  font-weight: 700;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-13 {
  font-size: 13px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-64 {
  font-size: 64px;
}

.fs-30 {
  font-size: 30px;
}

.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.fs-12-8 {
  font-size: 12.8px;
}

@media (max-width: 1239px) {
  .fsm-10 {
    font-size: 10px;
  }
}
@media (max-width: 1239px) {
  .fsm-11 {
    font-size: 11px;
  }
}
@media (max-width: 1239px) {
  .fsm-16 {
    font-size: 16px;
  }
}
@media (max-width: 1239px) {
  .fsm-14 {
    font-size: 14px;
  }
}
@media (max-width: 1239px) {
  .fsm-13 {
    font-size: 13px;
  }
}
@media (max-width: 1239px) {
  .fsm-24 {
    font-size: 24px;
  }
}
@media (max-width: 1239px) {
  .fsm-32 {
    font-size: 32px;
  }
}
@media (max-width: 1239px) {
  .fsm-64 {
    font-size: 64px;
  }
}
@media (max-width: 1239px) {
  .fsm-30 {
    font-size: 30px;
  }
}
@media (max-width: 1239px) {
  .fsm-12 {
    font-size: 12px;
  }
}
@media (max-width: 1239px) {
  .fsm-18 {
    font-size: 18px;
  }
}
.br-3 {
  border-radius: 3px;
}

.br-5 {
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

.lh-100 {
  line-height: 100%;
}

.w-100 {
  width: 100%;
}

.capitalize {
  text-transform: capitalize;
}

header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
}
@media (max-width: 1239px) {
  header {
    top: 27px;
  }
}
header .header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  row-gap: 18px;
}
@media (max-width: 1239px) {
  header .header-container {
    flex-direction: column;
  }
}
header .header-container .header-left {
  display: flex;
  column-gap: 90px;
  row-gap: 17px;
}
@media (min-width: 1240px) {
  header .header-container .header-left {
    align-items: center;
  }
}
@media (max-width: 1239px) {
  header .header-container .header-left {
    flex-direction: column;
  }
}
header .header-container .header-left .logo-group {
  display: flex;
  align-items: center;
}
header .header-container .header-left .logo-group img {
  width: 24px;
  height: 24px;
}
header .header-container .header-left .logo-group .site-name {
  margin-left: 16px;
}
header .header-container .header-left .nav-group {
  display: flex;
  column-gap: 24px;
  row-gap: 3px;
}
@media (max-width: 1239px) {
  header .header-container .header-left .nav-group {
    flex-direction: column;
  }
}
header .header-container input {
  width: 248px;
  height: 25px;
  border: none;
  border-radius: 50px;
  font-size: 13.3px;
  text-indent: 10px;
}
@media (max-width: 1239px) {
  header .header-container input {
    width: 100%;
  }
}
header .header-container input::placeholder {
  color: #757575;
}

#page-description {
  background-color: transparent;
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
#page-description .container {
  align-items: start;
}
#page-description .counter {
  margin-top: 16px;
}
#page-description .btns {
  display: flex;
  gap: 1.5rem;
  margin-top: 48px;
}
@media (max-width: 1239px) {
  #page-description .btns {
    flex-direction: column;
  }
}
#page-description .btns .btn {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 5px;
  width: 200px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#page-description .btns .btn img {
  width: 20px;
  height: 20px;
}
#page-description .btns .btn p {
  text-transform: uppercase;
}

#page-popular-track {
  padding-top: 100px;
}
#page-popular-track .container {
  align-items: start;
}
#page-popular-track .track-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  margin-top: 48px;
}
#page-popular-track .track-container .track-row {
  display: flex;
  row-gap: 25px;
  column-gap: 50px;
}
@media (max-width: 1239px) {
  #page-popular-track .track-container .track-row {
    flex-direction: column;
  }
}
#page-popular-track .track {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: calc(50% - 50px);
}
#page-popular-track .track img {
  width: 55px;
  height: 55px;
}
#page-popular-track .track .track-info {
  margin-left: 15px;
}
#page-popular-track .track .track-length {
  margin-left: auto;
}

#page-discography {
  padding-top: 100px;
}
#page-discography .container {
  align-items: start;
}
#page-discography .disc-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 25px;
  margin-top: 48px;
}
#page-discography .disc-item {
  width: 250px;
}
@media (max-width: 1239px) {
  #page-discography .disc-item {
    width: 137px;
  }
}
#page-discography .disc-item img {
  height: 250px;
}
@media (max-width: 1239px) {
  #page-discography .disc-item img {
    height: 137px;
  }
}
#page-discography .disc-item .disc-name {
  margin-top: 18px;
}

#page-similar {
  padding-top: 100px;
  padding-bottom: 100px;
}
#page-similar .container {
  align-items: start;
}
#page-similar .similar-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 25px;
  margin-top: 48px;
}
#page-similar .similar-item {
  width: 250px;
}
@media (max-width: 1239px) {
  #page-similar .similar-item {
    width: 137px;
  }
}
#page-similar .similar-item img {
  height: 250px;
}
@media (max-width: 1239px) {
  #page-similar .similar-item img {
    height: 137px;
  }
}
#page-similar .similar-item .similar-name {
  margin-top: 17px;
}
#page-similar .similar-item .similar-counter {
  margin-top: 1px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
footer .urls-container {
  display: flex;
  flex-grow: 1;
  gap: 40px;
  width: 100%;
}
@media (max-width: 1239px) {
  footer .urls-container {
    flex-direction: column;
  }
}
footer .column {
  flex-grow: 1;
}
footer .column h4 {
  margin-bottom: 15px;
}
footer .column a {
  display: block;
}
footer .column .icons {
  display: flex;
  gap: 24px;
  align-items: center;
}
footer hr {
  margin-top: 72px;
  margin-bottom: 40px;
}
footer .end-container {
  display: flex;
  gap: 16px;
  width: 100%;
}
@media (max-width: 1239px) {
  footer .end-container {
    flex-direction: column;
  }
}