.color-black {
  color: #08020D;
}

.bg-black {
  background-color: #08020D;
}

.color-gray {
  color: #E0E0E0;
}

.bg-gray {
  background-color: #E0E0E0;
}

.color-dark-gray {
  color: #CACACA;
}

.bg-dark-gray {
  background-color: #CACACA;
}

.color-dark {
  color: #3C3B3D;
}

.bg-dark {
  background-color: #3C3B3D;
}

.color-green {
  color: #34C176;
}

.bg-green {
  background-color: #34C176;
}

.color-orange {
  color: #F89202;
}

.bg-orange {
  background-color: #F89202;
}

.color-purple {
  color: #5328A1;
}

.bg-purple {
  background-color: #5328A1;
}

.color-red {
  color: #95390C;
}

.bg-red {
  background-color: #95390C;
}

.color-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.color-transparent {
  color: transparent;
}

.bg-transparent {
  background-color: transparent;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Bold.ttf);
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 150%;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  color: #3C3B3D;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}
@media (max-width: 415px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 38px;
  font-weight: bold;
}
@media (max-width: 415px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-size: 24px;
}
@media (max-width: 415px) {
  h3 {
    font-weight: bold;
    font-size: 16px;
  }
}

h4 {
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 415px) {
  h4 {
    font-size: 18px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.ms-24 {
  margin-inline-start: 24px;
}

.me-24 {
  margin-inline-end: 24px;
}

.fs-10 {
  font-size: 10px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-13 {
  font-size: 13px;
}

.text-center {
  text-align: center;
}

header {
  position: absolute;
  top: 25px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 415px) {
  header {
    top: 27px;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    gap: 18px;
  }
}

header * {
  font-size: 11px;
}

header img {
  width: 24px;
  height: 24px;
}

header .starting-group {
  display: flex;
  align-items: center;
  gap: 91px;
}
@media (max-width: 415px) {
  header .starting-group {
    align-items: initial;
    flex-direction: column;
    gap: 17px;
  }
}

header .logo-group {
  display: flex;
  align-items: center;
  gap: 16px;
}

header .logo-group a {
  height: 24px;
}

header .logo-group a img {
  width: 24px;
  height: 24px;
}

header .nav-group {
  display: flex;
  gap: 24px;
}
@media (max-width: 415px) {
  header .nav-group {
    flex-direction: column;
    gap: 3px;
  }
}

header .name {
  color: #CACACA;
}

header .name.name-selected {
  color: white;
}

@media (max-width: 415px) {
  header .nav-group a:nth-of-type(odd) .name {
    color: white;
  }

  header .nav-group a:nth-of-type(even) .name {
    color: #CACACA;
  }
}
header input {
  width: 248px;
  height: 25px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: #3C3B3D;
  font-size: 13.3px;
  text-indent: 10px;
}
@media (max-width: 415px) {
  header input {
    width: 100%;
  }
}
header input::placeholder {
  color: #757575;
}

#page-description {
  height: 750px;
  background-color: transparent;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 415px) {
  #page-description {
    height: 853px;
  }
}

#page-description .container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 119px;
  margin-right: 121px;
}
@media (max-width: 415px) {
  #page-description .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

#page-description .container-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
@media (max-width: 415px) {
  #page-description .container-v {
    margin-top: 250px;
  }
}

#page-description .form-description {
  margin-top: 31px;
}
@media (max-width: 415px) {
  #page-description .form-description {
    margin-top: 16px;
  }
}

#page-description form {
  max-width: 570px;
  margin-top: 17px;
}
@media (max-width: 415px) {
  #page-description form {
    width: 100%;
    margin-top: 16px;
  }
}
#page-description form div {
  display: flex;
  gap: 34px;
}
@media (max-width: 415px) {
  #page-description form div {
    flex-direction: column;
  }
}
#page-description form div input {
  min-width: 270px;
  min-height: 50px;
  border-radius: 3px;
  border: 2px solid #CACACA;
  text-indent: 22.24px;
}
#page-description form div input::placeholder {
  color: white;
}
#page-description form input[type=submit] {
  width: 100%;
  height: 57px;
  margin-top: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}