@use '../media.scss' as media;

#page-description {
  &.container { max-width: 100%; }

  background-color: transparent;
  background-image: url('../images/Morten Harket.png');
  background-position: center;
  background-size: cover;

  padding-top: 200px;
  //@include media.mobile { padding-top: 250px; }
  padding-bottom: 200px;

  .container { 
    margin-top: 50px;
    align-items: start; 
  }
  
  .counter { margin-top: 16px; }

  .btns {
    display: flex;
    @include media.mobile { flex-direction: column; }
    gap: 1.5rem;

    margin-top: 48px;

    .btn {
      display: flex;
      align-items: center;
      gap: 16px;

      border-radius: 5px;
      width: 200px;
      padding-right: 30px;
      padding-left: 30px;
      padding-top: 20px;
      padding-bottom: 20px;

      text-transform: uppercase;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

