@use 'media.scss' as media;

$font-sizes: 10, 16, 14, 13, 24, 32, 64, 30, 12, 18;

@each $fs in $font-sizes {
  .fs-#{$fs} { font-size: #{$fs}px; }
}
.fs-12-8 { font-size: 12.8px; }

@each $fs in $font-sizes {
  @include media.mobile { .fsm-#{$fs} { font-size: #{$fs}px; } }
}

$border-radiuses: 3, 5;
@each $br in $border-radiuses {
  .br-#{$br} { border-radius: #{$br}px; }
}

.text-center { text-align: center; }

.lh-100 { line-height: 100%; }
