$margins: 24;

@each $margin in $margins {
  .mt-#{$margin} { margin-top: #{$margin}px; }
  .mb-#{$margin} { margin-bottom: #{$margin}px; }
  .ms-#{$margin} { margin-inline-start: #{$margin}px; }
  .me-#{$margin} { margin-inline-end: #{$margin}px; }
}

$font-sizes: 10, 16, 14, 13, 24, 32, 64;

@each $fs in $font-sizes {
  .fs-#{$fs} { font-size: #{$fs}px; }
}

.text-center { text-align: center; }

.lh-100 { line-height: 100%; }

.button { 
  cursor: pointer;
  border-radius: 3px; 
  text-transform: capitalize;
}