@use 'media.scss' as media;
@use 'colors.scss' as *;

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto/Roboto-Bold.ttf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 150%;
  
  color: map-get($colors, 'dark-grey');
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  @include media.mobile { font-size: 30px; }
}

h2 {
  font-size: 38px;
  @include media.mobile { font-size: 18px; }
}

h3 {
  font-size: 24px;
  @include media.desktop { font-weight: normal; }
  @include media.mobile { font-size: 16px; }
}

h4 {
  font-size: 18px;
  @include media.mobile { font-size: 18px; }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover { cursor: pointer; }
}

input, button {
  color: inherit;
}

section, footer, header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1200px;
  width: 100%;
  @include media.mobile { 
    width: calc(100% - 40px);
    margin-right: 20px;
    margin-left: 20px;
  }
}

.button {
  cursor: pointer;
  border: 3px none;
  text-transform: capitalize;
}

hr { width: 100%; }