@use 'media.scss' as media;
@use 'colors.scss' as *;

@font-face {
  font-weight: normal;
  font-family: 'Roboto';
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-weight: bold;
  font-family: 'Roboto';
  src: url(../fonts/roboto/Roboto-Bold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;

  color: map-get($colors, 'dark-grey');
  font-size: inherit;

  font-family: 'Roboto', sans-serif;
  line-height: 150%;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  @include media.mobile { font-size: 30px; }
}

h2 {
  font-size: 38px;
  @include media.mobile { font-size: 18px; }
}

h3 {
  font-size: 24px;
  font-weight: normal;
  @include media.mobile { font-size: 16px; }
}

h4 {
  font-size: 18px;
  @include media.mobile { font-size: 18px; }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover { cursor: pointer; }
}

input, button {
  color: inherit;
}

section, footer, header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  max-width: 1200px;

  @include media.mobile {
    width: calc(100% - 40px);
    margin-right: 20px;
    margin-left: 20px;
  }
}

.button {
  text-transform: capitalize;
  cursor: pointer;
}

hr { width: 100%; }
