@use 'media.scss' as media;

footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  padding-top: 3rem;
  padding-bottom: 2rem;

  .urls-container {
    display: flex;
    flex-grow: 1;
    @include media.mobile { flex-direction: column; }
    gap: 40px;

    width: 100%;
  }

  .column {
    flex-grow: 1;

    h4 { margin-bottom: 15px; }
    a { display: block; }
    .icons {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    
  }

  hr { 
    margin-top: 72px; 
    margin-bottom: 40px;
  }
  
}