@use 'media.scss' as media;

footer {
  &.container { max-width: 100%; }
  padding-top: 3rem;
  padding-bottom: 2rem;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  .urls-container {
    display: flex;
    flex-grow: 1;
    gap: 40px;

    width: 100%;

    @include media.mobile { flex-direction: column; }
  }

  .column {
    flex-basis: 270px;

    h2 { margin-bottom: 15px; }

    ul { list-style-type: none; }

    .icons {
      display: flex;
      gap: 24px;
      align-items: center;
    }
  }

  hr {
    margin-top: 72px;
    margin-bottom: 40px;
    height: 2px;
    width: calc(100vw - 20px);
  }

  .end-container {
    display: flex;
    gap: 16px;

    width: 100%;

    @include media.mobile { flex-direction: column; }
  }
}
