@use 'media.scss' as media;

footer {
  &.container { max-width: 100%; }
  padding-top: calc(3rem + 2px);
  padding-bottom: 2rem;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  .urls-container {
    display: flex;
    column-gap: 40px;
    row-gap: 30px;
    @include media.mobile { flex-direction: column; }

    width: 100%;
  }

  .column {
    min-width: 270px;
    flex-grow: 1;

    h2 { margin-bottom: 15px; }

    ul { list-style-type: none; }

    .icons {
      display: flex;
      gap: 24px;

      a {
        height: 24px;

        display: flex;
        align-items: flex-end;
        img { margin-bottom: 1px; }
      }
    }
  }

  hr {
    margin-top: 72px;
    margin-bottom: 40px;
    height: 2px;
    width: 100%;
  }

  .end-container {
    display: flex;
    gap: 16px;

    width: 100%;

    @include media.mobile { flex-direction: column; }
  }
}
