@use 'colors.scss' as *;
@use 'media.scss' as media;

header {
  * {
    font-size: 11px;
  }

  position: absolute;
  top: 25px;
  right: 0;
  left: 0;

  @include media.mobile {
    top: 27px;

    flex-direction: column;
    gap: 18px;
    align-items: initial;
    justify-content: initial;
  }

  .header-container {
    display: flex;
    gap: 18px;
    justify-content: space-between;

    width: 100%;

    @include media.mobile { flex-direction: column; }
  }



  .starting-group {
    display: flex;
    gap: 91px;
    align-items: center;

    @include media.mobile {
      flex-direction: column;
      gap: 17px;
      align-items: initial;
    }
  }

  .logo-group {
    display: flex;
    gap: 16px;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .nav-group {
    display: flex;
    gap: 24px;

    @include media.mobile {
      flex-direction: column;
      gap: 3px;
    }
  }

  input {
    width: 248px;
    height: 25px;
    border: none;
    border-radius: 50px;

    font-size: 13.3px;
    text-indent: 10px;

    @include media.mobile { width: 100%; }

    &::placeholder { color: #757575; }
  }
}
