@use "media.scss" as media;

header {
  &.container { align-items: start; }

  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  margin: auto;

  justify-content: space-between;
  row-gap: 16px;
  flex-direction: row !important;
  @include media.mobile { flex-direction: column !important; }

  .header-left {
    display: flex;
    column-gap: 90px;
    row-gap: 16px;
    @include media.desktop { align-items: center; }
    @include media.mobile { flex-direction: column; }

    .logo-group {
      display: flex;
      align-items: center;

      img {
        width: 24px;
        height: 24px;
      }

      .site-name { margin-left: 16px; }
    }
    
    ul {
      list-style-type: none;

      display: flex;
      @include media.mobile { flex-direction: column; }
      column-gap: 24px;
      
      li {
        padding-top: 1px;
        padding-bottom: 2px;

        line-height: 100%;
        a { line-height: 13px; }
      }
    }
  }
  
  input {
    width: 248px;
    height: 26px;
    border: none;
    border-radius: 50px;

    font-size: 13.3px;
    text-indent: 10px;

    @include media.mobile { width: 100%; }

    &::placeholder { color: #757575; }
  }
}
