@use 'colors.scss' as *;
@use 'media.scss' as media;

header {
  position: absolute;
  top: 25px;
  left: 0px;
  right: 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media.mobile {
    top: 27px;

    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    gap: 18px;
  }

  & * {
    font-size: 11px;
  }

  & img {
    width: 24px;
    height: 24px;
  }
  
  & .starting-group {
    display: flex;
    align-items: center;
    gap: 91px;
  
    @include media.mobile {
      align-items: initial;
      flex-direction: column;
      gap: 17px;
    }
  }
  
  & .logo-group {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  & .logo-group a {
    height: 24px;
  }
  
  & .logo-group a img {
    width: 24px;
    height: 24px;
  }
  
  & .nav-group {
    display: flex;
    gap: 24px;
  
    @include media.mobile {
      flex-direction: column;
      gap: 3px;
    }
  }
  
  & .name {
    color: map-get($colors, 'dark-gray');
  }
  
  & .name.name-selected {
    color: map-get($colors, 'white');
  }
  
  // bellow .name.name-selected specially for mobile
  // every odd name other color
  @include media.mobile {
    & .nav-group a:nth-of-type(odd) .name {
      color: map-get($colors, 'white');
    }
    
    & .nav-group a:nth-of-type(even) .name {
      color: map-get($colors, 'dark-gray');
    }
  }
  
  & input {
    width: 248px;
    @include media.mobile { width: 100%; }
    height: 25px;
    border-radius: 50px;
    border: none;
  
    color: map-get($colors, 'white');
    background-color: map-get($colors, 'dark');
    &::placeholder { color: #757575 }
  
    font-size: 13.3px;
    text-indent: 10px;
  }
}