@use 'media.scss' as media;

#page-news {
  margin-top: 100px;

  .news-container {
    display: flex;
    flex-direction: column;
    gap: 65px;
    width: 100%;
    margin-top: 48px;
  }

  .news-item {
    display: flex;
    gap: 50px;
    justify-content: space-between;

    @include media.mobile { flex-wrap: wrap; }

    img {
      width: 575px;
      height: 286px;

      @include media.mobile {
        width: 100%;
        height: 186px;
      }
    }

    &:nth-child(2) {
      flex-direction: row-reverse;
    }
  }

  .news-content {
    margin-top: 30px;
    @include media.mobile { margin-top: 16px; }
  }

  .news-info {
    display: flex;
    gap: 16px;
    align-items: center;

    margin-top: 24px;
    //margin-bottom: 48px;

    img {
      width: 19px;
      height: 19px;
    }
  }

  .btn {
    margin-top: 48px;
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 16px;

    padding-left: 30px;
    border: 1px solid #cacaca;
    border-radius: 5px;
  }
}
