@use 'header.scss';
@use 'media.scss' as media;

#page-description {
  height: 750px;
  @include media.mobile { height: 853px; }

  background-color: transparent;
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
}

#page-description .container {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-left: 119px;
  margin-right: 121px;

  @include media.mobile {
    margin-left: 20px;
    margin-right: 20px;
  }
}