@use 'media.scss' as media;

#page-pricing {
  padding-top: 100px;

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 45px;
    margin-bottom: 43px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 366px;

    height: 615px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 1rem;

    background-position: center;
    background-size: cover;

    &:nth-child(1) { background-image: url('../images/subscribe_1.png'); }
    &:nth-child(2) { background-image: url('../images/subscribe_2.png'); }
    &:nth-child(3) { background-image: url('../images/subscribe_3.png'); }

    @include media.mobile { width: calc(100vw - 40px); }

    h3 {
      margin-top: 25px;
      margin-bottom: 200px;
    }

    .price {
      display: flex;
      justify-content: center;

      margin-bottom: 40px;
      span:nth-child(1) { margin-right: 1rem; }
    }

    .btn { border: 1px solid #fff; }

    .description { margin-top: 64px; }
  }
}
