@use 'media.scss' as media;

#page-app {
  .container {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .content-container {
    display: flex;
    gap: 144px;
    @include media.mobile {
      gap: 16px;
      flex-direction: column-reverse;
      flex-wrap: wrap;
    }

    margin-top: 48px;
  }

  p {
    max-width: 600px;
    margin-top: 16px;
  }

  .button {
    border-width: 0;
    border-radius: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 16px;
  }
}