@use "media.scss" as media;

#page-app {
  padding-top: 100px;
  margin-bottom: 100px;

  .content-container {
    display: flex;
    column-gap: 144px;
    @include media.mobile { 
      flex-direction: column-reverse; 
      align-items: center; 
    }

    width: 100%;
    margin-top: 48px;

    p {
      max-width: 600px;
      &:first-child {
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }

    img {
      width: 333px;
      height: 278px;
    }
  }

  .btn {
    display: inline-block;

    margin-top: 16px;
    padding-top: 16px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
    border-width: 0;
    border-radius: 32px;
  }
}
